// Styling for the navbar
#mainNav {
    border-color: fade-out($gray-900, 0.95);
    background-color: transparent;
    font-family: $headings-font-family;
    transition: all 0.35s ease-in-out;

    &.navbar-shrink {
        border-color: fade-out($gray-900, 0.9);
        background: linear-gradient(to right, $color-hero-1, $color-hero-2);

        .navbar-brand {
            color: $primary;

            &:hover {
                color: white;
            }
        }

        .navbar-nav > li > a,
        .navbar-nav > li > a:focus {
            color: white;

            &:hover {
                color: $primary;
            }
        }
    }

    .navbar-brand {
        color: $primary;
        font-family: $headings-font-family;

        &:hover,
        &:focus {
            color: darken($primary, 10%);
        }
    }

    .navbar-toggler {
        font-size: 12px;
        padding: 8px 10px;
        color: white;
        border: 1px solid white;
    }

    .navbar-nav {
        > li {
            > a {
                font-family: $font-family-alt;

                &.active {
                    color: $primary !important;
                    background-color: transparent;

                    &:hover {
                        background-color: transparent;
                    }
                }
            }

            > a,
            > a:focus {
                color: fade-out(white, 0.3);

                &:hover {
                    color: white;
                }
            }
        }
    }
}
