// Styling for the download section
section.contact {
    text-align: center;

    h2 {
        margin-top: 75px;
        margin-bottom: 0;

        i {
            color: $brand-google-plus;
        }
    }

    .contact-text {
        font-size: 24px;
    }
}
