// Styling for the footer
footer {
    padding: 25px 0;
    text-align: center;
    color: fade-out(white, 0.7);
    background-color: $gray-900;

    p {
        font-size: 12px;
        margin: 0;
        color: #929292;
    }
}
